<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.reproductorvideos">

    <!-- ✅ Permisos necesarios para reproducción y notificaciones -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="PlayerRedLucia"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReproductorVideos"
        android:networkSecurityConfig="@xml/network_security_config"
        android:finishOnTaskLaunch="true">


    <!-- ✅ SplashActivity es ahora la pantalla inicial -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 🟢 Login -->
        <activity android:name=".LoginActivity" android:exported="true" />

        <activity
            android:name=".Mp3Activity"
            android:exported="false"
            android:excludeFromRecents="true"/>

        <activity
            android:name=".ExoPlayerActivity"
            android:exported="false"
            android:excludeFromRecents="true"/>

        <activity
            android:name=".TransparentExitActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:exported="false"/>


        <!-- Otras pantallas -->
        <activity android:name=".MainActivity" android:exported="false" />
        <activity android:name=".FavoritosActivity" />
        <activity android:name=".FavoritosMp3Activity" />
        <activity android:name=".CategoriasActivity" android:exported="false" />
        <activity android:name=".RegisterActivity" android:exported="false" />
        <activity android:name=".ReproducirActivity" android:exported="false" />
        <activity
            android:name=".FullscreenPlayerActivity"
            android:screenOrientation="landscape"
            android:exported="false"
            android:theme="@style/Theme.ReproductorVideos"/>

        <!-- Servicio de reproducción -->
        <service
            android:name=".MediaPlaybackService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />

        <service
            android:name=".MediaPlaybackMp3Service"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />

    </application>

</manifest>
