<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.reproductorvideos">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="PlayerRedLucia"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReproductorVideos"
        android:networkSecurityConfig="@xml/network_security_config">

        <!-- 🟢 LoginActivity será la primera pantalla -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Pantalla principal (se mostrará después del login) -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- Categorías -->
        <activity
            android:name=".CategoriasActivity"
            android:exported="false"
            android:label=""
            android:theme="@style/Theme.ReproductorVideos" />

        <activity android:name=".RegisterActivity" />


        <!-- Reproducción -->
        <activity
            android:name=".ReproducirActivity"
            android:exported="false"
            android:label=""
            android:theme="@style/Theme.ReproductorVideos" />

        <!-- Servicio de reproducción -->
        <service
            android:name=".MediaPlaybackService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />

    </application>

</manifest>
